<!DOCTYPE html>

<html>
   <head>
      <title>About</title>
       <link rel="icon" href="/img/weather.png">
      <link
            rel='stylesheet'
            href='/css/styles.css'
         />
          </head>



      <body>
<div class="main-content">
      
         {{>header}}
         <p>This website uses data from mapbox.com and weatherstack.com</p>
         
         <img class="portrait"
            src='/img/1618424873784.png'
         />

         
        
</div>
       <a href="https://www.linkedin.com/in/alp-oral/  ">LinkedIn</a>
       <a href="https://github.com/Alpinoo">GitHub</a>
         {{>footer}}
      </body>
  
    
</html>